body
    margin: 0

.content 
  background-image: url("/public/images/banner.jpg")
  height: 100vh
.objects
    display: flex
    p
        flex: 1
    ul
        flex: 1
        display: flex
        li
            margin: auto
.title
    text-align: center
    transform: translate(0, 200%)
    // h1
    //     font-size:  
    button
        background: rgb(253, 0, 0)
        color: #fff
        padding: 15px
        padding-left: 3%
        padding-right: 3%
        


