body
    margin: 0

.content 
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("/public/images/banner.jpg") 
    background-attachment: fixed
    height: 100vh
    background-size: cover
.objects
    display: flex
    p
        flex: 1
        text-transform: uppercase
        color: #fff
        span
            text-decoration-style: solid 
    ul
        flex: 1
        display: flex
        li
            margin: auto
            list-style-type: none
            a
                text-decoration: none
                color: #fff
                text-transform: uppercase
.title
    text-align: center
    transform: translate(0, 100%)
    h1
       text-transform: uppercase
       font-size: 3em
       color: #fff
    p
        color: #fff
    button
        background: rgb(253, 0, 0)
        color: #fff
        padding: 15px
        padding-left: 3%
        padding-right: 3%
        margin-top: 2%
        border-radius: 5px
        font-size: 20px
        text-transform: uppercase

//Portable
@media screen and ( max-width: 620px )
    .objects
        a
            margin-right: 10px
    
