.section3
    margin-left: 19%
    margin-right: 19%
    height: 70vh
    display: flex
.mauris
    text-align: start
    h2
        text-transform: uppercase
    p
        text-transform: uppercase
        color: #acabab
.mont_driveway
    display: flex
    .ballpic1
        img
            border-radius: 100%
            float: right
            margin: 20px 20px
        h3
            text-align: end
        p
            text-align: end
    .ballpic2
        img
            border-radius: 100%
            float: left
            margin: 20px 20px
.lilbridge
    display: flex
    .ballpic3
        img
            border-radius: 100%
            float: right
            margin: 20px 20px
        h3
            text-align: end
        p
            text-align: end
    .ballpic4
        img
            border-radius: 100%
            float: left
            margin: 20px 20px
            

